*{
	margin: 0;
	padding: 0;
    font-family:  Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
    
}
.fp0{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    width: 100%;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 0px 0px 8px;
}

.container{
	display: flex;
}
.navbar-header{
    margin-left: 17px;
}
.nhead h4{
    margin-left: 25px;
    margin-bottom: 0px;
    font-weight: 600;
}
.navbar-header img{
	width: 60px;
    border-radius: 50%;
	vertical-align: middle;
}
.navbar-collapse{
	display: flex;
	justify-content: center;
	gap: 5px;
}
.navbar-collapse ul li{
    color:black;
    font-weight: 600;
}
.navbar-nav{
	display: flex;
	list-style: none;
	flex-direction: row;
	gap: 14px;
}
.cn{
    padding-right: 0px;
}
.r1{
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.header-right {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 24px;
}
.header-right img{
    width: 35px;
}
.whatsapp-icon {
    cursor: pointer;
  }
.fimg{
    width: 30px;
}
.top{
    width: 97%;
}
.fp1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
    /* background-image: url("https://img.freepik.com/premium-vector/dentist-dental-clinic-concept-background_618588-886.jpg?w=826"); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.fp1_1 img{
  width: 100px;
  height: 260px;
}
.slo1,.slo2{
    text-align: center;
}
.con1_1{
    height: 400px;
    margin-top: 60px;
}
.c1_1{
    color:black;
}

.c1_1 h3{
    margin: 50px 0px 0px 0px;
}
.col1_1 h4{
   margin-top: 30px;
}
.c1_2 img {
    border-radius: 50%;
    width: 96%;
    height: 77%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.span1 {
    margin: 30px 0px 0px 130px;
}
.sp1{
    
    width: 100%;
    height: 500px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpuwCPHipKrwMYqMeVsQgPfaRXw1A27UO42A&usqp=CAU"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.c1{
    height: 500px;
    display: flex;
    /* align-items: center; */
}
.col1{
    margin-top: 30px;
    background-color: rgba(30, 27, 27, 0.813);
    color: white;
    height: 440px;
    border-radius: 20px;
}
.col1 h2{
    left: 3%;
}
.para1 {
    display: flex;
    height: 100%;
    /* margin-top: 30px; */
    justify-content: center;
}
.para1 ul {
    margin: 20px 0px 0px 0px;
    font-size: 17px;
    line-height: 1.8;
    text-align: start;
    list-style: disc;
}
.para2 ul{
    text-align: start;
    margin: 20px 0px 0px 0px;
    font-size: 17px;
    line-height: 1.8;
    list-style: disc;
}
.para2 {
    display: flex;
    height: 100%;
    margin-top: 25px;
    justify-content: center;
}
.col2{
    
    background-color: #E6C2C5;
    height: 440px;
    border-radius: 20px;
}
.slo3 {
    text-align: center;
    margin: 50px 0px 0px 0px;
}
.sp2{
    
    width: 100%;
    height: 500px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
    /* background-image: url("https://static.wixstatic.com/media/ef51f3_6ab3661626e543409489ce6c13157687~mv2.png/v1/fill/w_990,h_438,al_c,q_90,enc_auto/A3.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.next img{
    /* margin-top: 30px; */
    width: 100%;
    height: 193px;
    border-radius: 50%;
}
.col-lg-6.next {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 100px;
}
.d1 {
    width: 180px;
}
.prev {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aesthetic {
    margin-top: 30px;
    width: 37%;
    height: 40%;
}
.prev img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}
.mp {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
}
.wave{
    border: 1px solid lightgray;
    border-radius: 20px;
    color: black;
    background-color: rgba(30, 27, 27, 0.813);
    color: white;;
    padding: 40px 0px ;
    width: 100%;
    height: 450px;
}
.wave h4{
    margin-top: 40px;
}

.Apara p{
    margin-top: 40px;
    font-size: 17px;
    color: white;
    margin-bottom: 0;
}
.Apara.col-lg-7 {
    padding: 30px;
}
.Aimg img{
    border-radius: 50%;
}
.container.c0{
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container.c2 {
    margin-top: 50px;
}

.testimonial-card {
    background-color: rgba(30, 27, 27, 0.813);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card p {
    font-size: 17px;
    color: white;
    margin-bottom: 0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.rate1{
    margin-top: 50px;
}
.rate3{
    margin-top: 70px;
}
.card1 p{
    margin-top: 30px;
}
.card3 p{
    margin-top: 30px;
}
.star {
    color: #ffc107;
}

.btn-reviews {
    border: 1px solid;
    background-color: #007bff;
    color: #ffffff;
}
.tcol{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.rbtn{
    text-align: center;
}
.rbtn_1{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #FCE631;
    border: 1px solid #FCE631;
}
a.btn.btn-reviews {
    background-color:#E6C2C5;
}
.Plan0{
    height: 400px;
    text-align: center;
    margin-top: 30px;
}
.Plan1{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.basic{
    width: 400px;
    height: 350px;
    background-color: rgba(30, 27, 27, 0.813);
    color: white;
    border-radius: 12px;
    padding: 30px;
}
.premium{
    width: 400px;
    height: 350px;
    background-color: rgba(30, 27, 27, 0.813);
    color: white;
    border-radius: 12px;
    padding: 30px;
}
.basic_1{
    margin-top: 60px;
}
.Premium_1{
    margin-top: 60px;
}
.basic_1 p{
    font-size: 17px;
}
.Premium_1 p{
    font-size: 17px;
}
.pbtn1{
    margin-top: 22px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FCE631;
    border: yellow;
}
.pbtn2{
    margin-top: 23px;
    width: 200px;
    padding: 5px;
    border: yellow;
    border-radius: 10px;
    background-color: #FCE631;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.services{
    margin-top: 50px;
}
header {

    color: #fff;
    text-align: center;
    padding: 20px;
}
ul{
    list-style: none;
}
h1, h2 {
    color: #4CAF50;
    text-align: center;
}

p {
    line-height: 1.6;
}

.contact-info {
    margin-top: 20px;
}
.r4{
    margin-top: 30px;
}
.container-fluid {
    margin-top: 52px;
}
.lc1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lc1_1{
    margin-top: 80px;
}
.lc2{
    display: flex;
    justify-content: center;
}
.Ebtn{
    margin-top: 40px;
    border: 1px solid #FCE631;
    color: white;
    background-color: rgba(30, 27, 27, 0.813);
    width: 140px;
    padding: 5px;
}
.coninfo h4{
   font-weight: 700;
}
.inputhead{
    height: 40px;
    width: 150px;
    cursor: pointer;
    position: relative;
}
input::before{
    content: "For Enquiry";
    position: absolute;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCE631 ;
}
.popup {
    border: 1px solid gray;
    position: absolute;
    width: 500px;
    top: 2950px;
    left: 30%;
    background-color: #1c1815;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}
main {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
   
    background-color: rgb(114 95 67);;
}
textarea#message,textarea#address {
    border-radius: 7px;
    width: 100%;
    height: 52px;
    margin-top: 20px;
}
.f1 {
    margin-top: 24px;
}
label {
    height: 25px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button{
    margin-top: 2opx;
    width: 130px;
    height: 40px;
}
.button1 button{
    border: 1px solid gray;
    margin-top: 20px;
    background-color: #F9D25C;
    color: black;
}
label.ll {
    background-color:#F9D25C;
    display: flex;
    border: 1px solid gray;
    margin-top: 18px;
    color: black;
    height: 40px;
}
label{
    color: rgb(255, 255, 255);
    height: 25px;
    width: 140px;
    background-color: white;
    background: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer ;

}
input:checked~ .popup{
   clip-path: polygon(0 0 ,100% 0,100% 100%,0 100%);
}
input#name,#phone,#email{
    width: 100%;
    border-radius: 7px;
}
.buttonlast button{
    border: 1px solid gray;
    width: 246px;
    margin-top: 20px;
    background-color: #FCE631;
}
.fullfoot{
    width: 100%;
    height: 200px;
}
.fullfoot.row {
    margin-top: 30px;
    margin-bottom: 30px;
}
.ffoot img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ffoot {
    width: 150px;
    height: 150px;
}
.col-lg-4.clast {
    display: flex;
    justify-content: center;
    height: 197px;
    align-items: center;
}
.ffoot_1.col-lg-8.text-center {
    padding: 25px;
}
.lslo{
    margin-top: 25px;
}
.container.cbottom {
    width: 100%;
    height: 20px;
    margin-bottom: 0px;
}
.bcol p {
    margin: 0px;
}
.row {
    width: 100%;
}
/* .lastform {
    display: flex;
    padding: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.lastform1{
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid gray;
    background-color: rgba(30, 27, 27, 0.813);
}
.lform {
    padding: 30px;
    border: 1px solid gray;
    background-color: rgba(30, 27, 27, 0.813);
} */
.sfoot {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    ;
    color: black;
    margin: 0px;
}
.col-lg-6.bcol {
    padding: 0px;
    height: 20px;
}
p {
    line-height: unset;
}
.col-lg-6.bco2 {
    text-align: end;
}


@media only screen and (max-width: 600px){
    /* .nhead {
        width: 208px;
    }
    button {
        margin-top: 2opx;
        width: 62px;
        height: 40px;
    }
    .nhead h4 {
        margin: 0px;
        font-weight: 600;
    } */
    .fp1{
        height: 100%;
    }
    .container.c1 {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    .container.con1_1 {
        display: flex;
        flex-direction: column;
    }
    .con1_1 {
        height: 400px;
        margin-top: 34px;
    }
    .c1_2 img {
        border-radius: 50%;
        width: 60%;
        height: 116%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    .slo2 h3{
     margin-top: 34px;
    }
    .Apara p {
        margin-top: 0px;
    }
    .Apara.col-lg-7 {
        padding: 30px 20px 30px 50px;
    }
    .para1 {
        display: flex;
        height: 100%;
        margin-top: 10px;
        justify-content: center;
    }
    .para1 ul {
        margin: 20px 0px 0px 0px;
        font-size: 17px;
        padding: 23px;
        line-height: 1.8;
    }
    h3.text-center.mb-4 {
        margin-top: 20px;
    }
    .container.c2{
        display: flex;
        justify-content: center;
    }
    .container.c2 {
        margin-top: 120px;
    }
    .testimonial-card {
        text-align: center;
    }
    .fp1_1 {
        height: 538px;
    }
    .span1 {
        margin: 30px 0px 0px 19px;
    }
    .sp {
        height: 2333px;
    }
    .mp {
        height: 760px;
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    }
    .container.c0 {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .wave {
        border: 1px solid lightgray;
        border-radius: 20px;
        color: black;
        background-color: rgba(30, 27, 27, 0.813);
        color: white;
        padding: 40px 0px;
        width: 100%;
        height: 100%;
    }
    .secondpage {
        height: 947px;
    }
    .sp1{
        height: 100%;
    }
    .sp2{
        height: 65%;
    }
    .col-lg-6.next {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        /* gap: 30px; */
        column-gap: 18px;
        row-gap: 30px;
        flex-wrap: wrap;
    }
    .d1 {
        width: 43%;
    }
    .col1 {
        margin-top: 30px;
        background-color: rgba(30, 27, 27, 0.813);
        color: white;
        height: 100%;
        border-radius: 20px;
    }
    .col-lg-6.prev {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .aesthetic {
        margin-top: 40px;
        width: 47%;
        height: 81%;
    }
    .col-lg-4.c1_2 {
        display: flex;
        justify-content: center;
    }
    .container.c1 {
        display: flex;
        flex-direction: column;
    }
    .col-md-12.tcol {
        display: flex;
        flex-direction: column;
    }
    .Plan0 {
        height: 740px;
        text-align: center;
        margin-top: 30px;
    }
    .Plan1.container {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .basic {
        width: 95% !important;
        height: 350px;
        background-color: rgba(30, 27, 27, 0.813);
        color: white;
        border-radius: 12px;
        padding: 30px;
        margin: 0px !important;
    }
    .premium {
        width: 95% 1important;
        height: 350px;
        background-color: rgba(30, 27, 27, 0.813);
        color: white;
        border-radius: 12px;
        padding: 30px;
        margin: 0px !important;
    }
    .mt-4.col-lg-5.lc1 {
        padding-left: 50px;
    }
    .fullfoot.row {
        height: 448px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .col-lg-6.bcol {
        text-align: center;
        padding: 0px;
        height: 20px;
    }
    .col-lg-6.bco2 {
        text-align: center;
    }
    .lc1_1 {
        margin-top: 80px;
        text-align: center;
    }
    .buttonlast button {
        border: 1px solid gray;
        width: 262px;
        margin-top: 20px;
        background-color: #FCE631;
    }
    .popup {
        border: 1px solid gray;
        position: absolute;
        width: 339px;
        top: 4780px;
        left: 6%;
        background-color: #1c1815;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    }
    iframe {
        padding-left: 24px;
    }

}